* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
	margin: 0;
    overflow-x: hidden;
	text-rendering: optimizeLegibility;
}
/* TEXT */
/*=======================*/
h1 {
    font-weight: 400 !important;
    color: #77939f !important;
    font-size: 60px !important;
    margin-top: -5px !important;
    white-space: nowrap;
    letter-spacing: 0.5px;
    
}
h2, h3 {
    color: #858585 !important;
    font-weight: 300 !important;
}
h2 {
    letter-spacing: 4px;
    font-size: 36px !important;
    margin-top: -5px !important;
}
h3 {
    letter-spacing: 2px;
    font-size: 24px !important;
}
h4 {
    font-weight: 400 !important;
    color: #434348 !important;
}
.black {
    color: #434348 !important;
}
.blue-bold {
        color: #77939f !important;
        font-weight: 500 !important;
        letter-spacing: 2px !important;
    }
p {
    color: #434348 !important;
    letter-spacing: 0.25px;
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 1.7;
}

/* KEYFRAMES */
/*=======================*/
@keyframes float {
    0% {transform: rotate(90deg) translate(1px, -10px);}
    100% {transform: rotate(90deg) translate(4px, -10px);}
}
@keyframes fade-left {
    0% {opacity: 0;
        transform: translateX(5%);
        }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes fade-right {
    0% {display: none;
        }
    1% {display: block !important;
        opacity: 0;
        transform: translateX(-5%);
    }
    4%, 31% {
        opacity: 1;
        transform: translateX(0);
    }
    35% {
        opacity: 0;
        transform: translateX(-5%);
    }
    36% {
        display: none;
    }
}

/* LOGO/HEADER */
/*=======================*/
#navbar {
    z-index: 2;
}
#logo img{
    width: 200px; 
    margin-top: 15px;
    z-index: 2;
}
.logo-scroll {
    margin-top: -100px !important;
}
#logo-sm img{
    position: absolute;
    width: 100px;
    opacity: 0;
    transform: translateY(-50%);
    top: 50%;
}
.logo-sm-scroll {
    padding-top: 5px;
    opacity: 1 !important;
}
/* NAVBAR */
/*=======================*/
#blue-nav {
    background-color: white;
    height: 5px;
    transition: 0.1s;
}
.blue-nav {
    background-color: #77939f !important;
}
nav {
    padding-top: 5px !important;
}
.nav-scroll {
    padding-top: 12px !important;
}
#navbar li {
    padding: 10px;
    margin: 0 5px;
    list-style: none;
}
#navbar li a {
    text-decoration: none;
    color: #434348;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 400;
    position: relative;
}
#navbar li a:visited {
    color: #434348;
}
#navbar li a:hover {
    text-decoration: none;
    color: #434348 !important;
}
.underline {
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #77939f;
    transition: 0.5s ease-in-out;
}


/* SECTIONS */
/*=======================*/
section {
    display: block;
    width: 100vw;
    background-color: #ece9e5;
    padding: 100px 0;
}

/* HOME */
/*=======================*/
#home {
    padding: 250px 0 0 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: #f6f5f4;
}
#home-bg {
    background: center / cover url("../images/home-bg.jpg");
    height: 60vh;
    position: relative;
}
#home-bg div:first-child {
    background: center / cover url("../images/home-paint-one.png");
    height: 110px;
    width: 100%;
    transform: translateY(-5px);
}

    /* ANIMATED BANNER */
    #slogan {
        opacity: 0;
        animation: fade-left 1s forwards;
    }
    a.banner {
        color: #858585 !important;
        transition: 0.5s;
        position: relative;
        font-size: 18px !important;
        font-weight: 300 !important;
    }
    a.banner:hover {
        text-decoration: none;
        color: #77939f !important;
    }
    .arrow {
        transform: rotate(90deg) translate(5px, -10px);
        display: inline-block;
        letter-spacing: 2px;
        position: relative;
        animation: float 1.8s infinite alternate linear;
    }
    /* ANIMATE */
    .home-banner {
        left: 0;
        top: 0;
        position: absolute;
        animation: fade-right 24s infinite;
    }
    .home-banner:first-child {
        position: relative !important;
        opacity: 0;
        animation-delay: 0.25s;
    }
    .home-banner:nth-child(2) {
        opacity: 0;
        animation-delay: 8s;
    }
    .home-banner:nth-child(3) {
        opacity: 0;
        animation-delay: 16s;
    }

/* PRODUCTS */
/*=======================*/
#products {
    background-color: #f3f1ef;
}
.nav-tabs {
    border: none !important;
    justify-content: center;
}
.nav-link {
    border: none !important;
    margin: 5px;
    color: #858585 !important;
}
.active {
    color: #434348 !important;
    background-color: transparent !important;
}
.nav-link:hover {
    border: none !important;
}
.item > .row {
    display: flex !important;
    justify-content: space-between;
}
.shop-listing img {
    width: calc(53px + 9vw);
    height: calc(53px + 9vw);
    background-color: blue;
    margin: 15px;
    transition: 0.5s;
    display: block;
}
.shop-listing img:hover {
    filter: brightness(0.9);
}
.shop-listing p {
    color: #77939f !important;
}
.shop-listing a {
    color: #434348;
    transition: 0.1s;
}
.shop-listing a:hover {
    color: #434348 !important;
}

/* OUR MISSION */
/*=======================*/
#our-mission img {
    width: 100%;
    position: relative;
    top: -300px;
}
video {
    width: 100%;
}
#donate-amount {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
#donate-amount div {
    display: flex;
    justify-content: center;
    width: 25%;
    border: 2px solid #77939f;
    margin-left: -2px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}
#donate-amount h3 {
    margin-bottom: 0;
    color: #77939f !important;
}
#donate-amount div:hover {
    background-color: #77939f;
}
#donate-amount div:hover h3 {
    color: #ece9e5 !important;
}
#donate-amount div:hover .set-amount {
    border-bottom: 2px solid #ece9e5;
}

    /* DONATE BTN */
    #donate-box button, .button {
        border: 2px solid #77939f;
        font-weight: 400 !important;
        background-color: #77939f;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
    } 
    #donate-box button h3, .button {
        color: white !important;
        padding: 10px;
        margin-bottom: 0;
    }
    #donate-box button:hover, .button {
        background-color: #ece9e5 !important;
    } 
    #donate-box button:hover h3, .button {
        color: #77939f !important;
    } 

    /* INPUT */
    .set-amount {
        width: 50%;
        background-color: #ece9e5;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #77939f;
        text-align: center;
        font-weight: 300 !important;
        font-size: 24px !important;
        color: #77939f !important;
    }
    #checkbox{
        display: inline-flex;
        justify-content: center;
    }
    input[type="checkbox"] {
        -webkit-appearance:none;
        width: 25px;
        height: 25px;
        border: 1px solid #77939f;
        position: relative;
        top: 2px;
        right: 5px;
        padding: 5px;
        transition: 0.3s;
        color: white;
    }
    input[type=checkbox]::before {
      content: "✔";
      position: absolute;
      font-size: 16px;
      top: 48%;   
        left: 50%;
        transform: translate(-50%, -50%);
      visibility: hidden;
    }
    input[type=checkbox]:checked::before {
      /* Use `visibility` instead of `display` to avoid recalculating layout */
      visibility: visible;
    }
    input[type='checkbox']:checked {
        background: #77939f;
    }

/* BUSINESS */
/*=======================*/
#business {
    background-color: #77939f;
}
#business h1, #business h2 {
    color: #ece9e5 !important;
}
#business a, .white {
    color: white !important;
}

/* CONTACT */
/*=======================*/
.sponsors {
    height: 433px;
    background-color: black;
}
.name {
    display: flex;
    justify-content: space-between;
}
input[type="textbox"], textarea {
    width: 100%;
    background-color: transparent;
    border: 2px solid #77939f;
    font-weight: 300 !important;
    font-size: 18px !important;
    color: #434348 !important;
    padding: 5px;
}
.contact-form button {
        border: 2px solid #77939f;
        font-weight: 400 !important;
        background-color: #77939f;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
    } 
    .contact-form button h3 {
        color: white !important;
        padding: 10px;
        margin-bottom: 0;
    }
    .contact-form button:hover {
        background-color: #ece9e5;
    } 
    .contact-form button:hover h3 {
        color: #77939f !important;
    } 

/* FOOTER */
/*=======================*/
#footer {
    background-color: #434348 !important;
}
#footer h1, #footer h2, #footer p {
    color: #ece9e5 !important;
    font-weight: 400 !important;
}
button#subscribe {
    background-color: transparent!important;
    transition: 0.5s;
}
button#subscribe h3 {
    color: #77939f !important;
    transition: 0.5s;
}
button#subscribe:hover {
    background-color: #77939f !important;
}
button#subscribe:hover h3 {
    color: #ece9e5 !important;
}
#footer input[type="textbox"] {
    color: #ece9e5 !important;
}
.fa {
    padding: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #77939f;
    color: #77939f;
}
.fa-instagram {
    padding: 9px 0 11px 0;
}

/* SCROLLBAR */
/*=======================*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #858585; 
}

/* MEDIA QUERY */
/*=======================*/

/* X LARGE */
/*=======================*/
@media only screen  and (min-width : 1824px) {
    .container {
        max-width: 1600px !important;
    }
    /* PRODUCTS */
    .shop-listing img {
        width: 250px;
        height: 250px;
        margin: 20px;
    }
}

/* LARGE */
/*=======================*/
@media only screen and (min-width: 992px) {

}

/* MEDIUM */
/*=======================*/
@media only screen and (max-width : 768px) {
    #home {
        padding: 125px 0 0 0 !important;
    }
    
    /* NAVBAR */
    #logo img {
        display: none;
    }
    #logo-sm img {
        width: 100px;
        opacity: 1;
    }
    #navbar {
        position: fixed !important;
    }
    #blue-nav {
        background-color: #77939f !important;
    }
    .navbar-toggler-icon {
        position: absolute
    }
    /* PRODUCTS */
    .item > .row {
        justify-content: center;
    }
    .shop-listing img {
        width: 27vw;
        height: 27vw;
        margin: 4vw;
    }
    /* CONTACT */
        .sponsors {
        height: 300px;
    }
}

/* SMALL */
/*=======================*/
@media only screen and (max-width : 576px) {
    section {
        padding: 75px 0 50px 0;
    }
    /* HOME */
    #home-bg {
        min-height: 200px;
    }
    #home-bg div {
        height: 50px !important;
    }
    .shop-listing img {
        width: 40vw;
        height: 40vw;
        margin: 2.5vw;
    }
    /* CONTACT */
        .sponsors {
        height: 250px;
    }
}
