* {
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
	margin: 0;
    overflow-x: hidden;
	text-rendering: optimizeLegibility;
}
/* TEXT */
/*=======================*/
h1 {
    font-weight: 400 !important;
    color: #77939f !important;
    font-size: 60px !important;
    margin-top: -5px !important;
    white-space: nowrap;
    letter-spacing: 0.5px;
    
}
h2, h3 {
    color: #858585 !important;
    font-weight: 300 !important;
}
h2 {
    letter-spacing: 4px;
    font-size: 36px !important;
    margin-top: -5px !important;
}
h3 {
    letter-spacing: 2px;
    font-size: 24px !important;
}
h4 {
    font-weight: 400 !important;
    color: #434348 !important;
}
.black {
    color: #434348 !important;
}
.blue-bold {
        color: #77939f !important;
        font-weight: 500 !important;
        letter-spacing: 2px !important;
    }
p {
    color: #434348 !important;
    letter-spacing: 0.25px;
    font-size: 18px !important;
    font-weight: 300 !important;
    line-height: 1.7;
}
#big-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#big-text h1, #big-text h2 {
    color: #434348 !important;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.big-text {
    font-size: 140px !important;
    line-height: 0.9;
    font-weight: 100 !important;
}
.ls-short {
    letter-spacing: 0.5px !important;
}

/* KEYFRAMES */
/*=======================*/
@keyframes float {
    0% {transform: rotate(90deg) translate(1px, -10px);}
    100% {transform: rotate(90deg) translate(4px, -10px);}
}
@keyframes fade-right {
    0% {display: none;
        }
    1% {display: block !important;
        opacity: 0;
        transform: translateX(-5%);
    }
    4%, 31% {
        opacity: 1;
        transform: translateX(0);
        z-index: 3;
    }
    35% {
        opacity: 0;
        transform: translateX(-5%);
        z-index: 1;
    }
    36% {
        display: none;
    }
}
@keyframes bannerLeaf {
    0% {top: 0; opacity: 1}
    45% {top:0}
    50% {top: -100%; opacity: 1}
    51% {opacity: 0}
    52% {top: 100%;}
    90% {top: 100%; opacity: 1}
    95% {top: 0;}
}
@keyframes bannerBiotrem {
    0% {top: 0; opacity: 1}
    45% {top:0}
    50% {top: -100%; opacity: 1}
    90% {top: -100%; opacity: 1}
    95% {top: -200%;}
    96% {opacity: 0}
    97% {top:0; opacity: 0}
    98% {opacity: 1}
}

/* LOGO/HEADER */
/*=======================*/
#navbar {
    box-shadow: 0 1px 5px rgba(0,0,0, 0.05);
    z-index: 10;
}
.logo-scroll {
    margin-top: -100px !important;
}
#logo img{
    position: absolute;
    width: 100px;
    transform: translateY(-50%);
    top: 50%;
}
/* NAVBAR */
/*=======================*/
#blue-nav {
    background-color: #77939f !important;
    transition: 0.1s;
}
.blue-nav {
    background-color: #77939f !important;
}
nav {
    padding-top: 5px !important;
}
.nav-scroll {
    padding-top: 12px !important;
}
#navbar li {
    padding: 10px;
    margin: 0 5px;
    list-style: none;
}
#navbar li a {
    text-decoration: none;
    color: #434348;
    font-size: 16px;
    letter-spacing: 0.25px;
    font-weight: 400;
    position: relative;
}
#navbar li a:visited {
    color: #434348;
}
#navbar li a:hover {
    text-decoration: none;
}
.underline {
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #77939f;
    transition: 0.5s ease-in-out;
}


/* SECTIONS */
/*=======================*/
section {
    display: block;
    width: 100vw;
    background-color: #ece9e5;
    padding: 100px 0;
}

/* HOME */
/*=======================*/
#home {
    overflow: hidden;
    background-color: #ece9e5;
    padding: 50px 0;
}
#landing {
    padding: 50px 0;
    height: 100vh;
}
#landing button {
    height: 50px;
    width: 200px;
    position: relative;
    top: 50px;
    background-color: #77939f;
    z-index: -1;
    border: none;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
#landing button a {
    text-decoration: none;
}
#landing button:hover {
    text-decoration: none;
    background-color: #f3f1ef;
    color: #77939f !important;
}
.edible {
    display: none;
}
#home-bg div:first-child {
    background: center / cover url("../images/home-paint-one.png");
    height: 110px;
    width: 100%;
    transform: translateY(-5px);
}
    /* ANIMATED BANNER */
        a.banner {
            color: #858585 !important;
            transition: 0.5s;
            position: relative;
            font-size: 18px !important;
            font-weight: 300 !important;
        }
        a.banner:hover {
            text-decoration: none;
            color: #77939f !important;
        }
        .arrow {
            transform: rotate(90deg) translate(5px, -10px);
            display: inline-block;
            letter-spacing: 2px;
            position: relative;
            animation: float 1.8s infinite alternate linear;
        }

/* PRODUCTS */
/*=======================*/
#products {
    background-color: #f3f1ef;
}
.nav-tabs {
    border: none !important;
    justify-content: center;
}
.nav-link {
    border: none !important;
    margin: 5px;
    color: #858585 !important;
}
.active {
    color: #434348 !important;
    background-color: transparent !important;
}
.nav-link:hover {
    border: none !important;
}
.item > .row {
    display: flex !important;
    justify-content: space-between;
}
.shop-listing img {
    width: calc(53px + 9vw);
    height: calc(53px + 9vw);
    background-color: blue;
    margin: 15px;
    transition: 0.5s;
    display: block;
}
.shop-listing img:hover {
    filter: brightness(0.9);
}
.shop-listing p {
    color: #77939f !important;
}
.shop-listing a {
    color: #434348;
    transition: 0.1s;
}
.shop-listing a:hover {
    color: #434348 !important;
}

/* OUR MISSION */
/*=======================*/
#our-mission {
    padding: 100px 0 0 0;
}
#our-mission img {
    width: 100%;
    position: relative;
    top: -300px;
}
video {
    width: 100%;
}
#donate-amount {
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
#donate-amount div {
    display: flex;
    justify-content: center;
    width: 25%;
    border: 2px solid #77939f;
    margin-left: -2px;
    padding: 10px;
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
}
#donate-amount h3 {
    margin-bottom: 0;
    color: #77939f !important;
}
#donate-amount div:hover {
    background-color: #77939f;
}
#donate-amount div:hover h3 {
    color: #ece9e5 !important;
}
#donate-amount div:hover .set-amount {
    border-bottom: 2px solid #ece9e5;
}

    /* DONATE BTN */
    #donate-box button, .button {
        border: 2px solid #77939f;
        font-weight: 400 !important;
        background-color: #77939f;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
    } 
    #donate-box button h3, .button {
        color: white !important;
        padding: 10px;
        margin-bottom: 0;
    }
    #donate-box button:hover, .button {
        background-color: #ece9e5 !important;
    } 
    #donate-box button:hover h3, .button {
        color: #77939f !important;
    } 

    /* INPUT */
    .set-amount {
        width: 50%;
        background-color: #ece9e5;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 2px solid #77939f;
        text-align: center;
        font-weight: 300 !important;
        font-size: 24px !important;
        color: #77939f !important;
    }
    #checkbox{
        display: inline-flex;
        justify-content: center;
    }
    input[type="checkbox"] {
        -webkit-appearance:none;
        width: 25px;
        height: 25px;
        border: 1px solid #77939f;
        position: relative;
        top: 2px;
        right: 5px;
        padding: 5px;
        transition: 0.3s;
        color: white;
    }
    input[type=checkbox]::before {
      content: "✔";
      position: absolute;
      font-size: 16px;
      top: 48%;   
        left: 50%;
        transform: translate(-50%, -50%);
      visibility: hidden;
    }
    input[type=checkbox]:checked::before {
      /* Use `visibility` instead of `display` to avoid recalculating layout */
      visibility: visible;
    }
    input[type='checkbox']:checked {
        background: #77939f;
    }
.mission-img-wrap {
    background-color: #77939f;
}
.mission-img {
    height: 200px;
    filter: saturate(0.9);
}
.mission-img.one{
    background: center / cover url('../images/mission-one.jpg');
}
.mission-img.two {
    background: center / cover url('../images/mission-three.jpg');
}
.mission-img.three {
    background: center / cover url('../images/mission-two.jpg');
}

/* BUSINESS */
/*=======================*/
#business {
    background-color: #77939f;
}
#business h1, #business h2 {
    color: #ece9e5 !important;
}
#business a, .white {
    color: white !important;
}
.b1, .b2 {
    display: none;
}
.b3 {
    display: inline-block;
}

/* CONTACT */
/*=======================*/
.sponsors {
    height: 433px;
    background-color: black;
    overflow: hidden;
}
.sponsors > .sponsors-banner {
    height: 100%;
    width: 100%;
    position: relative;
    filter: saturate(0.9);
}
.leaf {
    animation: bannerLeaf 16s infinite;
}
.biotrem {
    animation: bannerBiotrem 16s infinite;
}
.sponsors > .sponsors-banner img, .sponsors > .sponsors-banner p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.sponsors > .sponsors-banner p {
    color: white !important;
    text-shadow: 0 4px 4px rgba(0,0,0, 0.5);
    font-weight: 400 !important;
    top: 210px;
}
.biotrem img {
    top: 80px !important;
}
.leaf img {
    top: 125px !important;
}
.sponsors > .leaf {
    background: url('../images/sponsor-one.jpg') -200px -350px;
}
.sponsors > .biotrem {
    background: url('../images/sponsor-two.jpg') -100px -25px;
}
.name {
    display: flex;
    justify-content: space-between;
}
input[type="textbox"], textarea {
    width: 100%;
    background-color: transparent;
    border: 2px solid #77939f;
    font-weight: 300 !important;
    font-size: 18px !important;
    color: #434348 !important;
    padding: 5px;
}
.contact-form button {
        border: 2px solid #77939f;
        font-weight: 400 !important;
        background-color: #77939f;
        width: 100%;
        cursor: pointer;
        transition: 0.5s;
    } 
    .contact-form button h3 {
        color: white !important;
        padding: 10px;
        margin-bottom: 0;
    }
    .contact-form button:hover {
        background-color: #ece9e5;
    } 
    .contact-form button:hover h3 {
        color: #77939f !important;
    } 

/* FOOTER */
/*=======================*/
#footer {
    background-color: #434348 !important;
    padding-bottom: 0 !important; 
}
#footer h1, #footer h2 {
    color: #ece9e5 !important;
    font-weight: 400 !important;
}
button#subscribe {
    background-color: transparent!important;
    transition: 0.5s;
}
button#subscribe h3 {
    color: #77939f !important;
    transition: 0.5s;
}
button#subscribe:hover {
    background-color: #77939f !important;
}
button#subscribe:hover h3 {
    color: #ece9e5 !important;
}
#footer input[type="textbox"] {
    color: #ece9e5 !important;
}
#footer p {
    color: #ece9e5 !important;
    font-weight: 300 !important;
}
#social {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}
.fa {
    padding: 6px;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    color: #77939f !important;
    text-decoration: none !important;
    transition: 0.3s;
}
.fa:hover {
    color: #434348 !important;
}
.fa-times, .fa-bars {
    display: none !important;
}
.footer-links a {
    color: #77939f !important;
}
.footer-links p {
    font-weight: 300 !important;
}
p#copy {
    color: #858585 !important;
}
.terms p {
    margin-bottom: 0 !important;
}
.terms {
    justify-content: flex-end;
}

/* SCROLLBAR */
/*=======================*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #858585; 
}

/* MEDIA QUERY */
/*=======================*/

/* X LARGE */
/*=======================*/
@media only screen  and (min-width : 1824px) {
    .shop-listing img {
        width: calc(85px + 6.5vw);
        height: calc(85px + 6.5vw);
        margin: 15px;
        transition: 0.5s;
    }
}


/* LARGE */
/*=======================*/
@media only screen and (max-width: 992px) {
    
    /*HOME*/
    .edible {
        display: block;
    }
    
    /*NAVBAR*/
    .nav-close {
        transform: translateX(100%) !important;
    }
    .nav-open {
        transform: translateX(0) !important;
    }
    #social {
        position: relative !important;
        left: 50%;
        top: 125px;
    }
    .navbar {
        height: 50px;
    }
    .navbar-brand{
        color: #434348 !important;
    }
    .navbar-nav {
        display: block !important;
        position: fixed;
        right: 0;
        top: 0;
        height: 100vh;
        background-color: #222222;
        padding: 25px !important;
        text-align: center;
        transition: 0.5s ease-out;
        width: 225px;
        transform: translateX(100%);
    }
    .navbar-nav li {
        position: relative;
        top: 50px;
    }
    .navbar-nav li a {
        color: #ece9e5 !important;
        transition: 0.3s;
        padding: 10px;
    }
    #navbar li a {
        color: #ece9e5 !!important;
    }
    #navbar li a:hover {
        color: #77939f !important;
    }
    .underline {
        display: none;
    }
    .fa-times, .fa-bars {
        display: block!important;
        border: none;
        cursor: pointer;
    }
    .fa-times {
        color: #ece9e5 !important;
    }
    .fa-bars {
        color: #434348 !important;
        position: absolute;
        right: 0;
        top: 4px;
    }
    .fa-bars:hover {
        color: #77939f !important;
    }
    .fa-times:hover, .fa-bars:hover {
        border: none;
        background-color: transparent;
    }
    
    /* ANIMATE */
        .home-banner {
            left: 0;
            top: 0;
            position: absolute !important;
            animation: fade-right 24s infinite;
        }
        .home-banner:first-child {
            position: relative !important;
            opacity: 0;
            animation-delay: 0.25s;
        }
        .home-banner:nth-child(2) {
            opacity: 0;
            animation-delay: 8s;
        }
        .home-banner:nth-child(3) {
            opacity: 0;
            animation-delay: 16s;
        }
}

/* MEDIUM */
/*=======================*/
@media only screen and (max-width : 768px) {

    /*HOME*/
    .home-banner {
        margin: auto;
    }
    /* NAVBAR */
    #navbar {
        position: fixed !important;
    }
    #blue-nav {
        background-color: #77939f !important;
    }
    .navbar-toggler-icon {
        position: absolute
    }
    /* PRODUCTS */
    .item > .row {
        justify-content: center;
    }
    .shop-listing img {
        width: 27vw;
        height: 27vw;
        margin: 4vw;
    }
    /* OUR MISSION */
    .mission-img {
        height: 150px;
    }
    /* BUSINESS */
    .b1 {
        display: block;
    }
/*    FOOTER*/
    .terms {
        justify-content: center;
    }
    
}

/* SMALL */
/*=======================*/
@media only screen and (max-width : 576px) {
    section {
        padding: 75px 0 50px 0;
    }
    /* HOME */
    .big-text {
        font-size: 90px !important;
    }
    #home {
        padding: 50px 0 !important;
    }
    #home-bg {
        display: none;
    }
    #home-bg div {
        height: 50px !important;
    }
    .shop-listing img {
        width: 40vw;
        height: 40vw;
        margin: 2.5vw;
    }
    #landing button {
        width: 150px;
        top: 40px;
    }
    
    /* CONTACT */
    .sponsors {
        height: 200px;
    }
    .sponsors > .sponsors-banner img {
        top: 50% !important;
        transform: translate(-50%, -52%) !important;
    }
    .sponsors > .sponsors-banner p {
        display: none;
    }
    /* BUSINESS */
    .b2 {
        display: block;
    }
    .b3 {
        display: none;
    }
    /* MISSION */
    #our-mission {
        padding: 75px 0 0 0;
    }
    .mission-img {
        height: 100px;
    }
}
